---
import { Icon, IconCatalog } from '../components/icon';
import cn from 'classnames';

const classes = {
  yellowIcon: cn('bg-primary text-stone-900 p-3 rounded-2xl'),
  analyticTitle: cn('text-3xl font-medium mt-20 mb-8 text-center lg:text-left'),
  analyticDivider: cn('grid grid-cols-1 lg:grid-cols-2 items-center lg:items-start gap-8'),
  analyticCard: cn('flex gap-4 items-start py-5 px-2 md:px-10 bg-base-100 rounded-md shadow-xl w-full h-full'),
  analyticCardTitle: cn('text-xl font-bold mb-1'),
  analyticCardText: cn('text-base font-normal'),
};

const events = [
  {
    title: 'Charlas mensuales',
    text: 'Son dos charlas de aproximadamente 40 minutos de duración, que se van a dar el mismo día. Estas charlas están propuestas por los miembros de la comunidad que quieren compartir su conocimiento.',
  },
  {
    title: 'Eventos en vivo',
    text: 'Cada evento que hacemos es transmitido en vivo en Twitch con interacción del público. Estos eventos están disponibles días después en YouTube.',
  },
];

const analytics = [
  'Reuniones mensuales',
  'Más de 70 asistentes presenciales a cada evento',
  'Más de 200 asistentes online en cada evento',
  'Más de 900 miembros en la comunidad',
  'Evento de 5 estrellas calificados por la comunidad',
  'Invitados expertos',
];
---

<section>
  <h2 class={classes.analyticTitle}>Nuestras iniciativas</h2>
  <div class={classes.analyticDivider}>
    {
      events.map((event) => (
        <article class={classes.analyticCard}>
          <span class={classes.yellowIcon}>
            <Icon icon={IconCatalog.diamond} viewBox="0 0 24 24" width={24} height={24} />
          </span>
          <div class="flex items-start flex-col justify-center">
            <h3 class={classes.analyticCardTitle}>{event.title}</h3>
            <p class={classes.analyticCardText}>{event.text}</p>
          </div>
        </article>
      ))
    }
  </div>
</section>
<section>
  <h2 class={classes.analyticTitle}>Estadísticas</h2>
  <div class={classes.analyticDivider}>
    {
      analytics.map((data) => (
        <article class={cn(classes.analyticCard, 'items-center')}>
          <span class={classes.yellowIcon}>
            <Icon icon={IconCatalog.diamond} viewBox="0 0 24 24" width={24} height={24} />
          </span>
          <div>
            <h3 class={classes.analyticCardTitle}>{data}</h3>
          </div>
        </article>
      ))
    }
  </div>
</section>
